
@{
    ViewBag.Title = "AfterLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>After Login</h2>
@if (Session["LoggedUsername"] != null)
{
    <text>
        Welcome @Session["LoggedUsername"].ToString()
    </text>
}

